<h1>サインアップ</h1>

<%= form_with model: @user, url: signup_path do |f| %>
  <p>名前: <%= f.text_field :name %></p>
  <p>メール: <%= f.email_field :email %></p>
  <p>パスワード: <%= f.password_field :password %></p>
  <p>確認: <%= f.password_field :password_confirmation %></p>
  <%= f.submit "登録" %>
<% end %>

<%= link_to "トップへ戻る", root_path %>
