<h1>投稿一覧</h1>

<% if notice %>
  <p style="color: green;"><%= notice %></p>
<% end %>
<% if alert %>
  <p style="color: red;"><%= alert %></p>
<% end %>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, article_path(article) %></td>
      <td><%= article.content %></td>
    </tr>
  <% end %>
</table>

<%= link_to "新規投稿", new_article_path %>
